.DS_Store
**/.DS_Store
**/__pycache__/
*.pyc
*.pyo
checkpoints/
logs/
plots/
old_plots/
wandb/
tea_debug.log
/reachable_sets/reachable_sets_old/
/reachable_sets/reachable_sets_old2/
top_level_tests/
configuration/*
!configuration/config.yaml
!configuration/config_min2_depth*.yaml
!configuration/config_multispeed.yaml
tests/
